{% extends "master.html.twig" %}

{% block title %}Article added - {% endblock %}

{% block content %}
    <div id="center">
        <p>Article added</p>
        <p><a href="/article/{{id}}">Click to view the new article</a></p>
    </div>
{% endblock %}