{% extends "master.html.twig" %}

{% block title %}Article not found - {% endblock %}

{% block content %}
<div id="center">
    <p>Article not found</p>
    <p><a href="/">Click here to continue</a></p>
</div>
{% endblock %}