{% extends "master.html.twig" %}

{% block title %}{{a.title}} {% endblock %}

{% block content %}
    <div id="centerArticle">
        <h1 class="centered">{{a.title}}</h1>
        <img src="{{a.photofilepath}}"/>
        <hr>
        <i>Posted by {{a.name}} on {{a.postedDate}} </i>  
        <hr>
        <div>{{a.body|raw}}</div>
        <p><a href="/">Back to Home</a></p>
    </div>
{% endblock %}