{% extends "master.html.twig" %}

{% block title %}Add Article - {% endblock %}


{% block head %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>.
{% endblock %}

{% block content %}
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}
        <div id="centerArticle">
            <form method="post">
                <h1>Title: <input type="text" name="title" size="100" maxlength="100" value="{{v.title}}"></h1>
                <textarea name="body" cols="60" rows="10">{{v.body}}</textarea><br>
                <input type="file" name="photo">
                <input type="submit" value="Edit Article">
            </form>
        </div>
{% endblock %}
