{% extends "master.html.twig" %}

{% block title %}Access denied - {% endblock %}

{% block content %}
<div id="center" class="errorMessage">
    <p>Access denied</p>
    <p>Access denied. You must be logged in to access this page.
        <a href="/">Click to continue</a>.</p>
</div>
{% endblock %}