{% extends "master.html.twig" %}

{% block title %}Bob's Law Blog - {% endblock %}

{% block content %}
    {% for a in list %}
    <div id="centerArticle">
            <h1 class="centered"><p><a href="/article/{{a.id}}">{{a.title}}</a></h1>
            <hr>
            <i>Posted by {{a.name}} on {{a.postedDate}} </i>                
            <hr>
            <div>{{a.body|raw}}</div>
    </div>
    </br>
    {% endfor %}
    
{% endblock %}