{% extends "master.html.twig" %}

{% block title %}Login - {% endblock %}

{% block content %}
    {% if error %}
        <p class="errorMessage">Invalid username or password. Try again or <a href="/register">regiter</a>.</p>
    {% endif %}
<div id="center">
    <form method="post">
        <table>
            <tr>
                <td>
                    Email: 
                </td>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>
                    Password: 
                </td>
                <td>
                <input type="password" name="password">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
