{% extends "master.html.twig" %}

{% block title %}Logout Successful - {% endblock %}

{% block content %}
<div id="center">
    <p>Logout successful</p>
    <p><a href="/">Click to continue</a></p>
</div>
{% endblock %}