<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %}Bob's Law Blog</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="center" class="centered">
            {% if userSession %}
            <span> You are logged in as <b>{{userSession.name}}</b>.<hr> You can <a href="/addarticle">post an article</a> or <a href="/logout">logout</a></span>
            {% else %}
                <a href="/login">login</a> or <a href="/register">register</a>
            {% endif %}
        </div>
        </br>
        {% block content %}{% endblock %}
        <div id="footer" class="centered">
            {% block footer %}
                <br>&copy; 2020 @ Bob's Law Blog</a>.
            {% endblock %}
        </div>
    </body>
</html>