{% extends "master.html.twig" %}

{% block title %}Registration Successful - {% endblock %}

{% block content %}
    <div id="center">
        <p>Registration successful</p>
        <p><a href="/login">Click here to login</a></p>
    </div>
{% endblock %}