{% extends "master.html.twig" %}

{% block title %}Register - {% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // alert("jQuery works");
            $('input[name=email]').on('paste blur change input', function() {
                var email = $('input[name=email]').val();
                $("#emailTaken").load("/isemailtaken/" + email);
            });

            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}
<div id="center">
    <form method="post">
        <table>
            <tr>
                <td>
                    Name: 
                </td>
                <td>
                    <input type="text" name="name" value="{{v.name}}">
                </td>
            </tr>
            <tr>
                <td>
                    E-Mail: 
                </td>
                <td>
                    <input type="text" name="email" value="{{v.email}}">
                    <span id="emailTaken" class="errorMessage"></span></br>
                </td>
            </tr>
            <tr>
                <td>
                    Password: 
                </td>
                <td>
                <input type="password" name="pass1">
                </td>
            </tr>
            <tr>
                <td>
                    Password: 
                </td>
                <td>
                <input type="password" name="pass2">
                </td>
            </tr>
        </table>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}
