body {
    background-image: url(images/grey_abstract_geometric_triangle_background-wallpaper-3554x1999.jpg);
    background-color: lightslategray;
}

#center {
    margin: auto;
    padding: 20px;
    width: 225px;
    height: auto;
    background-color: lightsteelblue;
    border: solid black 5px;
    border-radius: 10px;
}

#centerArticle{
    margin: auto;
    padding: 20px;
    width: 960px;
    height: auto;
    background-color: lightsteelblue;
    border: solid black 5px;
    border-radius: 10px;
}

.centered {
    text-align: center;
    margin: 10 auto;
}

.shadow{
    box-shadow: black 1px 1px;
    padding: 5px;
    width: 215px;
}

a {
    margin: 10px;  
    font-size: larger;
}

h1{
    color: whitesmoke;
    text-shadow: black 1px 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid whitesmoke;
  }

.errorMessage {
    font-weight: bold;
    background-color: lightcoral;
    color: black;
}