{% extends "master.html.twig" %}

{% block title %}Add person{% endblock %}

{% block content %}
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        Name: <input type="text" name="name" value=""><br>
        Age: <input type="number" name="age" value=""><br>
        <input type="submit" value="Add person">
    </form>
{% endblock %}