<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %} - My Webpage</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="centeredContent">{% block content %}{% endblock %}
        <div id="footer">
            {% block footer %}
                <br>&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
        </div>
    </body>
</html>